<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mountain Weather Tracker</title>
    <link th:href="@{/css/styles.css}" rel="stylesheet"/>
</head>
<body>
<!--menu links-->
<!--menu hamburger button-->
<div class="menu-btn">
    <div class="menu-btn__burger"></div>
  </div>
<!--login-->
<!--registration-->
<!--profile setup view-->
<!--profile-->
<!--footer-->
<footer>

</footer>
    <div>
    </div>
    <div>
    </div>
    <div>
    </div>
    <script src="/Users/seanrogan/Desktop/WebProjects/WeatherScraper/app/src/main/resources/static/js/index.js"></script>
</body>
</html>